// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

a {
  color: black;
  font-family: 'Roboto', sans-serif;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



body {
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  
  
}

nav {

    left: 50%;
    font-size: 15px;
}

mark {

  background-color: yellow;

  color: black;

}

footer {

    text-align: center;
    font-size: 15px;
    
  
}

article {
  text-align: center;
  margin-top: 0px;  
  font-size: 22px;
}

div.scroll-container {
  background-color: #ffffff;
  overflow: auto;
  white-space: nowrap;
  padding: 0px;
}

div.scroll-container img {
  padding: 0px;
}

section h1:first-child {
    margin-top: 0px;
    font-size: 21px;
}

button[data-sharer] {
    color: #fff;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.test-css {

    padding: 0px;

    border: 2px solid blue;

}
